* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

#container__first {
    background-color: aquamarine;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container__second {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    padding: 3% 1% 0 1%;
}

#first__child {
    width: 90%;
    margin: 2% auto 0 auto;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

.dabudefull {
    width: 30%;
}

.firstRow {
    text-align: center;
}

#slika {
    width: 80%;
    height: 40%;
}